absl-py==0.1.10
bleach==1.5.0
boto3==1.5.22
botocore==1.8.36
decorator==4.0.11
docutils==0.14
futures==3.1.1
html5lib==0.9999999
imageio==2.1.2
jmespath==0.9.3
Markdown==2.6.11
moviepy==0.2.3.2
numpy==1.14.0
Pillow==5.0.0
pils==0.1.25.post81
protobuf==3.5.1
python-dateutil==2.6.1
s3transfer==0.1.12
scipy==1.0.0
six==1.11.0
tensorflow==1.5.0
tensorflow-tensorboard==1.5.0
tqdm==4.11.2
vizdoom==1.1.4
Werkzeug==0.14.1